<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>
<body class="hold-transition skin-black-light sidebar-mini">
<div class="wrapper">

    <div th:replace="/fragments/header :: header">&nbsp;</div>

    <div th:replace="/fragments/navigationbar :: navigationbar">&nbsp;</div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div th:replace="/fragments/contentHeader :: contentHeader"/>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <form th:action="@{/admin/project/create}" th:object="${project}"
                              method="post" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="code">Project Code:</label> <input type="text"
                                                                               th:field="*{code}" class="form-control"
                                                                               id="code"
                                                                               placeholder="Enter Project Code"
                                                                               name="code" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="name">Project Name:</label> <input type="text"
                                                                               th:field="*{name}" class="form-control"
                                                                               id="name"
                                                                               placeholder="Enter Project Name"
                                                                               name="name" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">&nbsp;</div>

</div>

<script src="/dist/js/invalidFields.js"></script>

</body>
</html>