<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>

<body class="hold-transition skin-black-light sidebar-mini">

<div class="wrapper">

    <div th:replace="/fragments/header :: header">&nbsp;</div>

    <div th:replace="/fragments/navigationbar :: navigationbar">&nbsp;</div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div th:replace="/fragments/contentHeader :: contentHeader"/>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <form th:action="@{/admin/employee/create}"
                              th:object="${employeeDetails}" method="post"
                              class="needs-validation" novalidate>

                            <div class="form-group">
                                <label for="userName">User Name:</label> <input type="text"
                                                                                th:field="*{employee.userName}"
                                                                                class="form-control"
                                                                                id="userName"
                                                                                placeholder="Enter User Name"
                                                                                name="userName"
                                                                                required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="firstName">First Name:</label> <input type="text"
                                                                                  th:field="*{employee.firstName}"
                                                                                  class="form-control"
                                                                                  id="firstName"
                                                                                  placeholder="Enter First Name"
                                                                                  name="firstName"
                                                                                  required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="secondName">Second Name:</label> <input type="text"
                                                                                    th:field="*{employee.secondName}"
                                                                                    class="form-control"
                                                                                    id="secondName"
                                                                                    placeholder="Enter Second Name"
                                                                                    name="secondName" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="mailId">Mail Id:</label> <input type="text"
                                                                            th:field="*{employee.mailId}"
                                                                            class="form-control" id="mailId"
                                                                            placeholder="Enter Mail Id"
                                                                            name="mailId"
                                                                            required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label> <input type="text"
                                                                               th:field="*{employee.password}"
                                                                               class="form-control"
                                                                               id="password"
                                                                               placeholder="Enter Password"
                                                                               name="password"
                                                                               required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="contactNo">Contact Number:</label> <input
                                    type="text" th:field="*{employee.contactNo}"
                                    class="form-control" id="contactNo"
                                    placeholder="Enter Contact Number" name="contactNo" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="dob">Contact Number:</label> <input type="date"
                                                                                th:field="*{employee.dob}"
                                                                                class="form-control" id="dob"
                                                                                placeholder="Enter Date of Birth"
                                                                                name="dob" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <div class="form-group">
                                <label for="dob">Roles:</label> <select
                                    id="multiSelectElementsSelected"
                                    name="multiSelectElementsSelected" multiple="multiple"
                                    th:field="*{roles}" required>

                                <option th:each="role,row : *{roles}" th:value="${role.id}"
                                        th:text="${role.name}"></option>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this
                                    field.
                                </div>
                            </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="/fragments/footer :: footer">&nbsp;</div>

</div>

<script src="/dist/js/invalidFields.js"></script>

</body>
</html>