<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>

<body class="hold-transition skin-black-light sidebar-mini">

<div class="wrapper">

    <div th:replace="fragments/header :: header">&nbsp;</div>

    <div th:replace="fragments/navigationbar :: navigationbar">&nbsp;</div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div th:replace="fragments/contentHeader :: contentHeader"/>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <input class="form-control" id="myInput" type="text"
                               placeholder="Search.."> <br>
                        <table id="Project" class="table table-hover">
                            <thead>
                            <tr>
                                <th><span>ID</span></th>
                                <th><span>Code</span></th>
                                <th><span>Name</span></th>
                                <th><span>Created by</span></th>
                                <th><span>Created on</span></th>
                                <th><span>Last updated by</span></th>
                                <th><span>Last updated date</span></th>

                                <th><span>Edit Project</span></th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            <tr th:if="${projects.empty}">
                                <td colspan="2">No data Available</td>
                            </tr>
                            <tr th:each="project, rowStat: ${projects}"
                                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                                <td><span th:text="${project.id}"> ID </span></td>
                                <td><span th:text="${project.code}"> Code </span></td>
                                <td><span th:text="${project.name}"> Name</span></td>
                                <td><span th:text="${project.createdBy}">Created by</span></td>
                                <td><span th:text="${project.createdDate}">Created
											on</span></td>
                                <td><span th:text="${project.updatedBy}">Last
											updated by</span></td>
                                <td><span th:text="${project.updatedDate}">Last
											updated date</span></td>
                                <td><a
                                        th:href="@{'/admin/project/edit?id=' + ${project.id}}">edit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

</div>
<script src="/dist/js/search.js"></script>
</body>
</html>