<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>Time Sheet - week view</title>

</head>

<body>
	<div th:replace="/fragments/header :: header">&nbsp;</div>

	<div class="container">
		<div class="row">
			<div class="header">
				<h3>Week view edit</h3>
			</div>
		</div>

		<div class="row">

			<nav class="navbar navbar-expand bg-transparent navbar-primary">
				<div
					class="container d-flex flex-column flex-md-row justify-content-between">

					<ul class="navbar-nav px-3">
						<li class="nav-item text-nowrap"><a class="nav-link"
							th:href="@{/weekview/edit(action=previous)}">&#8249;&#8249;</a></li>
					</ul>

					<ul class="navbar-nav px-3">
						<li class="nav-item text-nowrap"><a class="nav-link"
							th:href="@{/weekview/edit}" th:text="${weekViewModel.currentWeek}">Current week</a></li>
					</ul>

					<ul class="navbar-nav px-3">
						<li class="nav-item text-nowrap"><a class="nav-link"
							th:href="@{/weekview/edit(action=next)}">&#8250;&#8250;</a></li>
					</ul>
				</div>
			</nav>
		
		</div>

		<div class="row">
			<div class="col-md-10 table-responsive">
				<form action="#" th:action="@{/weekview/save}" th:object="${form}"
					method="post">
					<fieldset>

						<table id="TimeSheetWeekView"
							class="table table-striped table-hover">
							<thead class="thead-dark">
								<tr>
									<th><span>Project</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.mon.head}">Mon</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.tus.head}">Tus</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.wed.head}">Wed</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.thu.head}">Thu</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.fri.head}">fri</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.sat.head}">Sat</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.sun.head}">Sun</span></th>
									<th><span>Total</span></th>
									<th><span></span></th>
								</tr>
							</thead>


							<tbody>

								<tr th:each="weekview, itemStat: ${form.weekviews}"
									th:style="${itemStat.odd} ? 'color: gray' : 'color: blue;'">
									<td><span
										th:text="${weekview.employeeProject.project.name}">
											Project</span></td>

									<td><input class="col-lg"
										th:placeholder="Mon + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].mon|"
										th:value="${weekview.getMon()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Tus + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].tus|"
										th:value="${weekview.getTus()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Wed + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].wed|"
										th:value="${weekview.getWed()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Thu + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].thu|"
										th:value="${weekview.getThu()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Fri + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].fri|"
										th:value="${weekview.getFri()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Sat + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].sat|"
										th:value="${weekview.getSat()}" /></td>
									<td><input class="col-lg"
										th:placeholder="Sun + ' ' + ${itemStat.count}"
										th:name="|weekviews[${itemStat.index}].sun|"
										th:value="${weekview.getSun()}" /></td>


									<td><span th:text="${weekview.total}"> Total </span></td>
									<td><input hidden="id"
										th:name="|weekviews[${itemStat.index}].employeeProject.id|"
										th:value="${weekview.employeeProject.id}" /></td>

								</tr>
							</tbody>

							<tfoot class="thead-light">
								<tr>
									<th><span>Total</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.mon.foot}">Mon</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.tus.foot}">Tus</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.wed.foot}">Wed</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.thu.foot}">Thu</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.fri.foot}">fri</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.sat.foot}">Sat</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.sun.foot}">Sun</span></th>
									<th><span
										th:text="${weekViewModel.weekViewTableCols.total.foot}">0</span></th>
									<th><span></span></th>
								</tr>
							</tfoot>

						</table>


						<input type="submit" id="submitButton" th:value="Save"> <input
							type="reset" id="resetButton" name="reset" th:value="Reset" />
					</fieldset>
				</form>
			</div>

		</div>
	</div>
</body>
</html>