<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"/>
<body>
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header" th:fragment="contentHeader">
        <h1 th:text="${title}">
            title
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/home}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active" th:text="${title}">title</li>
        </ol>
    </section>
</div>
</body>
</html>