<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>

<body class="hold-transition skin-black-light sidebar-mini">
<div class="wrapper">

    <div th:replace="/fragments/header :: header">&nbsp;</div>

    <div th:replace="/fragments/navigationbar :: navigationbar">&nbsp;</div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div th:replace="/fragments/contentHeader :: contentHeader"/>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <h4>Welcome to Admin page</h4>
                        <br>
                        <ul class="nav flex-column">


                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/admin/project/all}">View Projects</a></li>

                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/admin/project/create}">Add Project</a></li>

                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/admin/employee/all}">View Employees</a></li>

                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/admin/employee/create}">Add Employee</a></li>

                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/weekview/edit}">My Time sheet</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="/fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>